<div class="container-fluid text-center">
  <h3 class="mt-4">Desafio HUB COUNT</h3>
  <p>Urna Eletrônica (Votação exclusiva para Presidente)</p>
  <div class="container-fluid d-flex">
    <div class="w-100">
      <h5 class="mt-5">Tecnologias utilizadas:</h5>
      <ul>
        <li>C#</li>
        <li>.NET 6</li>
        <li>EF Core</li>
        <li>Dapper</li>
        <li>Princípios do SOLID</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Angular</li>
      </ul>
    </div>

  </div>
</div>
