<header class="w-100">
  <nav class="navbar navbar-expand-lg nav-top">
    <i class="bi bi-list i-toggler mobile-nav-toggle"></i>
    <a class="navbar-brand" routerLink="home">
      <strong class="strong1">HUB</strong><strong class="strong2">COUNT</strong>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="true" routerLink="urna">Urna Eletrônica</a>
        <a class="nav-link" routerLinkActive="true" routerLink="candidatos">Candidatos</a>
        <a class="nav-link" routerLinkActive="true" routerLink="resultado">Resultado</a>
      </div>
    </div>
  </nav>
</header>
